# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\GabrielaMoreira\Documents\5_ALURA\Formacao_PHP\phpmvc-gerenciador-cursos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
